# editors
.vscode/

# typescript
*.tsbuildinfo

# moon
.moon/cache
.moon/docker
.moon/hooks

node_modules/

# build
build/

# Yarn zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions