$schema: "https://moonrepo.dev/schemas/tasks.json"

fileGroups:
  assets:
    - assets/**/*
  sources:
    - src/**/*
  tsup-dist:
    - target/tsup/dist/**/*
  extension-assets:
    - target/extension/tmp/assets/**/*
  extension-manifest:
    - target/extension/tmp/manifest.json
  extension-vendors:
    - target/extension/tmp/vendors/**/*
  extension-dist:
    - target/extension/dist/**/*

tasks:
  extension-copy-assets:
    deps:
      - ~:tsup-build
    script: |
      #!/usr/bin/env bash
      rm -rf ./target/extension/
      mkdir -p ./target/extension/tmp/vendors/
      cp -r target/tsup/dist/* ./target/extension/tmp/
      cp -r ./src/manifest.json ./target/extension/tmp/manifest.json
      cp -r ./assets/ ./target/extension/tmp/assets/
      cp -r $workspaceRoot/node_modules/webextension-polyfill/dist ./target/extension/tmp/vendors/webextension-polyfill
    inputs: 
      - '@group(assets)'
      - '@group(sources)'
      - '@group(tsup-dist)'
    outputs:
      - '@group(extension-vendors)'
      - '@group(extension-assets)'
      - '@group(extension-manifest)'
  extension-build:
    options:
      runDepsInParallel: false
    deps:
      - extension-copy-assets
    toolchain: node
    script: |
      web-ext build -o --source-dir=$projectRoot/target/extension/tmp -a=$projectRoot/target/extension/dist
    inputs:
      - '@group(tsup-dist)'
      - '@group(extension-assets)'
      - '@group(extension-manifest)'
      - '@group(extension-vendors)'
    outputs:
      - '@group(extension-dist)'
  extension-build-firefox:
    toolchain: node
    script: >-
      $workspaceRoot/etc/scripts/actions/build-firefox.ts
    env:
      SOURCE_DIR: $projectRoot/target/extension/tmp
      ARTIFACTS_DIR: $projectRoot/target/extension/dist
    inputs:
      - '@group(tsup-dist)'
      - '@group(extension-assets)'
      - '@group(extension-manifest)'
      - '@group(extension-vendors)'
    outputs:
      - '@group(extension-dist)'