$schema: "https://moonrepo.dev/schemas/tasks.json"

fileGroups:
  playwright-tests:
    - tests/**/*
  playwright-configs:
    - playwright.config.ts
  playwright-browsers:
    - $workspaceRoot/.tmp/playwright/browsers/**/*
  playwright-workspace-sources:
    - $workspaceRoot/**/src/**/*
tasks:
  playwright-test:
    toolchain: node
    env:
      PLAYWRIGHT_BROWSERS_PATH: $workspaceRoot/.tmp/playwright/browsers
    script: >-
      playwright test
    inputs:
      - "@group(playwright-tests)"
      - "@group(playwright-configs)"
      - "@group(playwright-workspace-sources)"
  playwright-show-report:
    toolchain: node
    preset: server
    script: >-
      playwright show-report
    inputs:
      - ./target/playwright/test-results/**/*