name: Build and Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - release/*.*

jobs:
  ci:
    name: CI
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Dagger
        uses: dagger/dagger-for-github@v8.2.0
        with:
          version: v0.19.8
          verb: functions
          workdir: ./etc/workflow-runtime

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn install

      - run: "yarn install"
      - run: "./etc/scripts/workflows/ci.ts"
